h1 {
    color: rgb(6, 6, 6);
    font-size:32px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2 {
    color: burlywood;
    text-align: center;
    margin: auto;

}

.pcont{
    white-space: pre-wrap;
    font-family: inherit;
    text-align: right;
    font-size: 20px;
    color: azure;
}


.centrado {
    white-space: pre-wrap;
    font-family: inherit;
    text-align: center;
    font-size: 20px;
}

#hda {
    display: flex;
    justify-content: center;

}

body {
    margin: 0;
    min-height: 100%;

    background:
    linear-gradient(
    to top,
    rgba(0,0,0,.35) 0%,
    rgba(0,0,0,0) 20%
    ),
    linear-gradient(
        to bottom,
        #c8c8c8 0%,#ffffff 100%
    );
}

header,
main,
footer {
    background-color: transparent;
}