.menu{
    background-color: #000000;
    padding: 10px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a{    
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: #555;
    color: #d4af37;
    border-radius: 5px;
}

