.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: rgb(0 0 0 / 0.4);
  text-align: center;

  background: rgba(0, 0, 0, 0.50) ;
  outline: 1px solid #888;
  padding: 10px;
   border: 1px solid rgba(255, 255, 255, 0.997);
  box-shadow: 0 0 0 3px rgba(223, 222, 222, 0.7);
  margin: 16px;
}

.fondo_hero{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  z-index: -1;
}

.contenido_hero {
    max-width: 700px;
    padding: 2rem;
    color: aliceblue;

}
.contenido_hero h1{
    font-size: 180px;
    margin: 1px;
}



